.time-box {
  display: flex;
  flex-wrap: wrap;
  &__item{
      flex: 0 0 50%;
      @include centerFlexItems();
      flex-direction: column;
      padding: 1rem;
      border: 0.5px solid var(--color-highlight);

  }
}
