.cart-list {
    padding: 3rem 0;
    margin-bottom: 3rem;
    &__table {
        padding: 2rem 1rem;

        background-color: #fafafa;
    }

    &__buttons {
        display: flex;
        justify-content: flex-end;
    }

    .cart-item {
        &__img {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 20rem;
            width: 10rem;
        }
        &__name {
            text-transform: uppercase;

        }
    }
}
